.App {
  overflow: hidden;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo{
  width: 3em;
  height: auto;
  margin-left: 6em;
  margin-top: 0.6em;
}
a {
  text-decoration: none;
  padding-left: 10px;
  padding-left: 10px;
}

nav {
  margin: 0px;
  background-color: #074220;
  display: flex;
  height: 3em;
}

nav h3, nav p{
  text-decoration: none;
  color: white;
  margin-left: 6em;
  font-size: 0.9em;
}

nav h3, nav p:hover{
  color: #f8bddf;
}

nav .navbarAuth{
  float: right;
  position: absolute;
  right: 0;
  padding-right: 2em;
}
nav .navbarAuth p{
  margin: 1em 1.5em ;
}



nav .btn-logout {
  color: white;
  float: right;
  right: 0;
  padding-right: 2em;
  cursor: pointer;
}





/*HomePage css*/
.coverHomepage{
  background-color: black;
  height: 94vh;
}

.coverHomepage img{
  width: 100%;
  height: 94vh;
  position: relative;

  margin: 0em;
  opacity: 0.8;
}

.coverHomepage .logo-home{
  position: absolute;
  width: 30%;
  height: auto;
  top: 30%;
  left: 35%;
  opacity: 1;
}
.coverHomepage h1 {
  color: white;
}


.article-home{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  height: 40em;
  background-color: #EBEBEB;
  padding: 5em;
}

.carousselHome{
  background-color: #074220;
  width: 40%;
  height: 45em;
  color: white;
}

.carousselHome img{
  width: 100%;
}

.carousselHome h1, .carousselHome p, .carousselHome h3{
  margin: 1em 2em;
  text-decoration: none;
}

.carousselHome h1{
  font-size: 1.5em;
}

.carousselHome p{
  font-size: 1.2em;
}

.carousselHome h3{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition: 0.5s;
}

.carousselHome h3:hover{
  color: #f8bddf;
  text-decoration: underline;
}






/* Profile Page */

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 58vh;
  background-color: #EBEBEB;
}







/* For profil Service */


.my-own-service{
  text-align: center;
  background-color: #EBEBEB;
  margin: 0;
  padding: 1em;
}

.Service-page-Btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}



.edit-myService, .delete-myService{
  max-width: 1em;
  max-height: 1em;
  margin: 2em 0.5em 0em;
  cursor: pointer;
}



/*Service details Page */

.service-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.details-div {
  margin: 0.3em;
  padding: 0;
}

.details-div h4{
  font-size: 1em;
  font-weight: 600;
}

.image-details {
  width: 30em;
  height: auto;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 5em 8em 5em 10em;
}

.image-details:hover {
  transition: 0.5 ease-in-out;
}

.review-details{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.card-review{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2em;
  background-color: #EBEBEB;
  width: 25em;
}

.star-render{
  padding: 0.5em 1em 0em;
  margin: 0em;
}

.card-review p{
  padding: 0.3em 1em 0em;
  margin: 0em;
}


.deleteIcon, .editIcon{
  width: 1em;
  height: 1em;
  margin: 0.5em;
  float: right;
  cursor: pointer;
}

.edit-review-div{
  background-color: #EBEBEB;
}
.edit-review{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  padding: 11.9em 0em;
}

.edit-review input{
  margin: 1em;
}

.gold-star {
  color: gold;
}




/* Signup / Login */
.SignupPage-Container, .LoginPage-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
  background-color: #EBEBEB;
}

.signup-login {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
}

.SignupPage-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  height: auto;

}

.LoginPage-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 32vh;
}

.SignupPage-Form input, .LoginPage-Form input{
  margin: 0.5em;
  padding: 0.4em;
}

.SignupPage-Form button, .LoginPage-Form button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
  margin: 0.5em;
}

.SignupPage-Form button:hover, .LoginPage-Form button:hover{
  background-color: #f8bddf;
  color: black;
}










/* Reservation Page */
.reservation-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EBEBEB;
  height: auto;
}


.allMyReservation{
  display: flex;
  flex-flow: row wrap;
  background-color: #EBEBEB;
}
.reservation-list-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 3em 2em;
  background-color: #EBEBEB;
  padding: 1.5em 0em 1em;
  border: 1px solid grey;
}

.reservation-list-page p{
  margin: 0.2em;
}

.btn-reservation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.9em;
  background-color: #EBEBEB;
}

.delete-myReservation, .edit-myReservation{
    width: 1em;
    height: 1.2em;
    margin: 1em 0.75em;
}

.reservation-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  height: auto;
}

.form-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.6em 0em;
  height: auto;
}

.form-reservation input{
  margin: 0.5em;
  padding: 0.4em;
}

.form-reservation button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
  margin: 1.5em;
}

.form-reservation button:hover{
  background-color: #f8bddf;

}





.edit-reservation-form{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #EBEBEB;
  height: auto;
  padding: 8.8em 0em;

}

.edit-reservation-form input{
  margin: 0.5em 0em;
}



/*Confirmation Page */

.confirmation-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.4em;
  height: 56vh;
}



/* Form Create service */
.add-new-service, .edit-service-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 0em;
  height: auto;
  background-color: #EBEBEB;
}
.add-new-service input, .add-new-service textarea:hover , 
.edit-service-page input, .edit-service-page textarea{
  margin: 1em 0em 0.5em;
  padding: 0.5em;
}

.add-new-service input:focus{
  border: 2px solid #f8bddf;
}
.add-new-service button, .edit-service-page button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
}

.add-new-service button:hover, .edit-service-page button:hover{
  background-color: #f8bddf;
  color: black;
}







/* Footer */
.footer{
  background-color: #074220;
  color: white;
  margin: 0em;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
}


.footer ul{
  display: inline-flex;
}
.footer li{
  list-style: none;
  margin: 1em;
}

.footer hr{
  border: 1px solid white;
  width: 90%;
}

.footer p{
  margin: 0.8em 3em;
}

.footer .lawerText{
  padding-bottom: 0.8em;
}









/* Contact Us */
.contact-contianer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15em;
  background-color: #EBEBEB;
  padding: 1em;
  margin-bottom: 1.5em;
}

.email__from {
  text-align: center;
  height: 2em;
  margin: 0.5em;
}

.message__box {
  height: 18em;
  margin: 0.8em 0em;
}

.contact_form button {
  height: 40px;
  background-color: #074220;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 25px;
}

.contact_form button:hover{
  background-color: #0e6f37;
}



.profile-picture {
  width: 100px;
}




/*List of Service */



.container-filter-by-place {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  padding: 2em 0em 2em 2.5em;
  background-color: #EBEBEB;
}

.filter-input {
  display: flex;
  flex-direction: row;
  height: 30px;
  text-align: center;
  margin: 0.5em;
}

.filter-input:hover {
  border: 2px solid #f8bddf;
  transition: 0.5s ease-out;
}

.filter-input:active {
  border: 1px solid #f8bddf;
}




.list-of-services {
  display: flex;
  flex-wrap: wrap;
  background-color: #EBEBEB;
  padding: 1em 0em;
}

.container-service-card-list {
  width: 25%;
  background-color: #EBEBEB;
  overflow: hidden;
  position: relative;
  height: 40vh;
}


.description-list h1,
.description-list h4{
  margin: 0em 1em;
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
} 

.description-list h1{
  font-size: 1.4em;
  text-align: start;
  margin: 0.2em 0em 0.2em 0.65em;
} 

.description-list h4{
  font-weight: 400;
}
.img-service-list img{
  width: 100%;
  height: 40vh;
}

.container-service-card-list:hover .description-list{
  opacity: 0.85;
}

.description-list{
  background-color: #074220;
  position: absolute;
  text-align: start;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 50%;
  top: 50%;
}



.available-status {
  margin-left: 15px;
}


/* My service */

.list-of-myService{
  display: flex;
  flex-wrap: wrap;
  background-color: #EBEBEB;
  padding: 4em 0em;
}

.container-service-card-myList{
  width: 25%;
  background-color: #EBEBEB;
  overflow: hidden;
  position: relative;
  height: 40vh;
}

.container-service-card-myList:hover .description-mylist{
  opacity: 0.85;
}



.description-myService h1,
.description-myService h4{
  margin: 0em 1em;
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}


.description-myService h1{
  font-size: 1.4em;
  text-align: start;
  margin: 0.2em 0em 0.2em 0.65em;
} 

.description-myService h4{
  font-weight: 400;
}

.img-service-myList img{
  width: 100%;
  height: 40vh;
}

.description-mylist{
  background-color: #074220;
  position: absolute;
  text-align: start;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 50%;
  top: 50%;
}


@media (max-width: 800px) {
  .filter-input {
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 2.2em;
    text-align: center;
  }
  
  .filter-input:hover {
    border: 2px solid #f8bddf;
    transition: 0.5s ease-out;
  }
  
  .filter-input:active {
    border: 2px solid #f8bddf;
  }
}

