.App {
  overflow: hidden;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  padding-left: 10px;
  padding-left: 10px;
}

nav {
  margin: 0px;
  background-color: #074220;
  display: flex;
  height: 3em;
}

nav h3, nav p{
  text-decoration: none;
  color: white;
  margin-left: 6em;
  font-size: 0.9em;
}

nav h3, nav p:hover{
  color: #f8bddf;
}

nav .navbarAuth{
  float: right;
  position: absolute;
  right: 0;
  padding-right: 2em;
}
nav .navbarAuth p{
  margin: 1em 1.5em ;
}



nav .btn-logout {
  color: white;
  float: right;
  right: 0;
  padding-right: 2em;
  cursor: pointer;
}





/*HomePage css*/

.coverHomepage img{
  width: 100%;
  position: relative;
  height: auto;
  margin: 0;
}

.coverHomepage div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 1.5em;
  top: 40%;
  left: 40%; 
}
.coverHomepage h1 {
  color: white;
}


.article-home{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  height: 40em;
  background-color: #EBEBEB;
  padding: 5em;
}

.carousselHome{
  background-color: #074220;
  width: 40%;
  height: 45em;
  color: white;
}

.carousselHome img{
  width: 100%;
}

.carousselHome h1, .carousselHome p, .carousselHome h3{
  margin: 1em 2em;
  text-decoration: none;
}

.carousselHome h1{
  font-size: 1.5em;
}

.carousselHome p{
  font-size: 1.2em;
}

.carousselHome h3{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition: 0.5s;
}

.carousselHome h3:hover{
  color: #f8bddf;
  text-decoration: underline;
}






/* Profile Page */

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 58vh;
}


/*List of Service */

.list-of-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-filter-by-place {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  margin: 2em 0em 2em 2.5em;
}

.filter-input {
  display: flex;
  flex-direction: row;
  height: 30px;
  text-align: center;
  margin: 0.5em;
}

.filter-input:hover {
  border: 2px solid #f8bddf;
  transition: 0.5s ease-out;
}

.filter-input:active {
  border: 1px solid #f8bddf;
}

.service-card-box {
  width: 100%;
  background-color: #EBEBEB;
  margin-left: auto;
  margin-right: auto;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
}



.description-service p, 
.description-service h3,
.description-service h1,
.description-service h4{
  margin: 0em;
  text-decoration: none;
  color: black;
}

.description-service h1{
  font-size: 1.6em;
  text-align: center;
  margin: 0.5em;
}

.description-service img {
  width: 100%;
  height: 10em;
  margin: 0em;
}

.description-service h4{
  float: right;
  margin: 0em 2em;
}

.service-card-box Link{
  padding: 0em;
  margin: 0em;
  background-color: white;
}
 
.description-list-spe{
  margin: 0em 1em;
}

.container-service-card-list {
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.available-status {
  margin-left: 15px;
}




@media (max-width: 800px) {
  .filter-input {
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 2.2em;
    text-align: center;
  }
  
  .filter-input:hover {
    border: 2px solid #f8bddf;
    transition: 0.5s ease-out;
  }
  
  .filter-input:active {
    border: 2px solid #f8bddf;
  }
}




/* For profil Service */

.my-own-service{
  text-align: center;
}

.my-service-card{
  background-color: #EBEBEB;
}

.Service-page-Btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.Service-page-Btn button{
  border: none;
  color: black;
}

.Service-page-Btn button:hover{
  color: #f8bddf;
  text-decoration: underline;
}


/*Service details Page */

.service-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-details h4,
.service-details h4 p,
.service-details h3,
.service-details h2 {
  margin: 5px;
  padding: 0;
}


.image-details {
  max-width: 500px;
  max-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  cursor: pointer;
}

.image-details:hover {
  max-width: 1000px;
  transition: 0.5 ease-in-out;
}












/* Signup / Login */
.SignupPage-Container, .LoginPage-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.signup-login {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
}

.SignupPage-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  height: auto;
}

.LoginPage-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 32vh;
}

.SignupPage-Form input, .LoginPage-Form input{
  margin: 0.5em;
  padding: 0.4em;
}

.SignupPage-Form button, .LoginPage-Form button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
  margin: 0.5em;
}

.SignupPage-Form button:hover, .LoginPage-Form button:hover{
  background-color: #f8bddf;
  color: black;
}










/* Reservation Page */
.reservation-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-reservation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}


.reservation-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  height: auto;
}

.form-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.6em 0em;
  height: auto;
}

.form-reservation input{
  margin: 0.5em;
  padding: 0.4em;
}

.form-reservation button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
  margin: 1.5em;
}

.form-reservation button:hover{
  background-color: #f8bddf;

}

.reservation-list-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}







/*Confirmation Page */

.confirmation-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.4em;
  height: 56vh;
}



/* Form Create service */
.add-new-service, .edit-service-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 70vh;
}
.add-new-service input, .add-new-service textarea:hover , 
.edit-service-page input, .edit-service-page textarea{
  margin: 1em 0em 0.5em;
  padding: 0.5em;
}

.add-new-service input:focus{
  border: 2px solid #f8bddf;
}
.add-new-service button, .edit-service-page button{
  border-radius: 2em;
  border: 0.5px solid black;
  padding:  0.75em 1em;
  transition: 0.5s;
}

.add-new-service button:hover, .edit-service-page button:hover{
  background-color: #f8bddf;
  color: black;
}







/* Footer */
.footer{
  background-color: #074220;
  color: white;
  margin: 0em;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
}


.footer ul{
  display: inline-flex;
}
.footer li{
  list-style: none;
  margin: 1em;
}

.footer hr{
  border: 1px solid white;
  width: 90%;
}

.footer p{
  margin: 0.8em 3em;
}

.footer .lawerText{
  padding-bottom: 0.8em;
}









/* Contact Us */
.contact-contianer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  background-color: grey;
  padding: 20px;
}

.email__from {
  text-align: center;
  height: 30px;
}

.message__box {
  height: 200px;
  margin-bottom: 10px;
}

.contact_form button {
  height: 40px;
  background-color: rgb(76, 76, 215);
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 25px;
}

.gold-star {
  color: gold;
}

.profile-picture {
  width: 100px;
}