


nav {
  margin: 0px;
  background-color: #074220;
  display: flex;
  height: 3em;
}

nav h3, nav p{
  text-decoration: none;
  color: white;
  margin-left: 6em;
  font-size: 0.9em;
}

nav h3, nav p:hover{
  color: #f8bddf;
}

nav .navbarAuth{
  display: flex;
  float: right;
}

nav .btn-logout {
  border: none ;
  background-color: black;
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
}


.coverHomepage img{
  width: 100%;
  position: relative;
  height: auto;
  margin: 0;
}

.coverHomepage div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 1.5em;
  top: 40%;
  left: 30%; 
}
.coverHomepage h1 {
  color: white;
}


.article-home{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  height: 40em;
  background-color: #EBEBEB;
  padding: 5em;
}

.carousselHome{
  background-color: #074220;
  width: 40%;
  height: 45em;
  color: white;
}

.carousselHome img{
  width: 100%;
}

.carousselHome h1, .carousselHome p, .carousselHome h3{
  margin: 1em 2em;
  text-decoration: none;
}

.carousselHome h1{
  font-size: 1.5em;
}

.carousselHome p{
  font-size: 1.2em;
}

.carousselHome h3{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition: 0.5s;
}

.carousselHome h3:hover{
  color: #f8bddf;
  text-decoration: underline;
}




.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.list-of-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-filter-by-place {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 2em 0em 2em 6em;
}

.filter-input {
  display: flex;
  flex-direction: row;
  height: 30px;
  text-align: center;
  margin: 0.5em;
}

.filter-input:hover {
  border: 2px solid #f8bddf;
  transition: 0.5s ease-out;
}

.filter-input:active {
  border: 2px solid #f8bddf;
}

.service-card-box {
  text-align: center;
  width: calc(100% - 10px);
  margin: 1em;
  background-color: black;
}

.description-list{
  padding-bottom: 0.8em;
}

.description-service h4, 
.description-service h3,
.description-service h2 {
  margin: 1em;
  text-decoration: none;
  color: white;
}

.description-service img {
  width: 100%;
  height: 15em;
  margin: 0em;
}

a {
  text-decoration: none;
  padding-left: 10px;
  padding-left: 10px;
}

.confirmation-page {
  text-align: center;
}

.service-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-details h4,
.service-details h4 p,
.service-details h3,
.service-details h2 {
  margin: 5px;
  padding: 0;
}

.SignupPage, .LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.signup-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.image-details {
  max-width: 500px;
  max-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  cursor: pointer;
}

.image-details:hover {
  max-width: 1000px;
  transition: 0.5 ease-in-out;
}

.reservation-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-reservation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.reservation-page {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-reservation {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.reservation-list-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.add-new-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.btn-edit-delete-btn-my-service-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-own-service {
  text-align: center;
}




@media (max-width: 800px) {
  .filter-input {
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 2.2em;
    text-align: center;
  }
  
  .filter-input:hover {
    border: 2px solid #f8bddf;
    transition: 0.5s ease-out;
  }
  
  .filter-input:active {
    border: 2px solid #f8bddf;
  }
}



.footer{
  background-color: #074220;
  color: #f8bddf;
  margin: 0em;
}
.footer ul{
  display: inline-flex;
}
.footer li{
  list-style: none;
  margin: 1em;
}

.footer hr{
  border: 1px solid #f8bddf;
  width: 90%;
}

.footer p{
  margin: 0.8em 3em;
}

.footer .lawerText{
  padding-bottom: 0.8em;
}