.navbar {
  display: flex;
  justify-content: space-evenly;
}

.home-page {
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-of-services {
  text-align: center;
}

a {
  text-decoration: none;
}

.confirmation-page {
  text-align: center;
}

.service-details {
  text-align: center;
}

